---
import Layout from '../layouts/layout.astro'
import { Image } from 'astro:assets'
import phoneCall from '../../public/images/bxs_phone-call.png'
import logoEmail from '../../public/images/logo-email.png'
import logoLocation from '../../public/images/Location.png'
import circleOne from '../../public/images/Ellipse.png'
import circleTwo from '../../public/images/Ellipse2.png'
import IconsNetwork from '../components/icons/network.astro'
import Navbar from '../components/navbar.svelte'
const contactInfo = [
  {
    src: phoneCall,
    text: '+91 73569 83829',
    alt: 'logo phone  call',
  },
  {
    src: logoEmail,
    text: 'tags-dev-corporation@gmail.com',
    alt: 'logo email ',
  },
  {
    src: logoLocation,
    text: '7th Avenue, KL ex.iphones. park, Calicut',
    alt: 'logo location',
  },
]
---

<Layout title="Contact - Lynx">
  <Navbar client:load />
  <section>
    <article class="bg-black w-[35%] relative p-3">
      <article class="text-white">
        <h2 class="bolt text-[28px] mt-[5%]"><b>Contact Information</b></h2>
        <p class="font-[500] text-[18px] pb-[10%]">Say something start a live chat!</p>
        {
          contactInfo.map((info) => (
            <figure class="flex gap-4 mt-[13%]">
              <Image src={info.src} alt={info.alt} />
              <p>
                <b>{info.text}</b>
              </p>
            </figure>
          ))
        }
      </article>
      <div class="flex justify-end relative z-1">
        <figure class="w-[138px] absolute top-[-5%] right-[11%]">
          <Image class="w-[100%]" src={circleOne} alt="circleOne" />
        </figure>
        <figure class="w-[200px] mr-[-40px] mb-[-17px]">
          <Image class="w-[100%]" src={circleTwo} alt="circleTwo" />
        </figure>
      </div>
      <div class="absolute z-5 bottom-10">
        <IconsNetwork styleicons="text-white" colorfacebook="bg-white" bgfacebook="bg-withe" />
      </div>
    </article>
  </section>
</Layout>
